<div class="my-matches">
<%#= image_tag "cheum.png" %>
<!-- icone et lien pour Find a Fetisher -->
<ul class="horizontal-scroll">
  <% @matches.each do |match| %>
  <% mess = match.messages.where.not(user_id: current_user.id) %>
    <li>
    <% if match.user_1 != current_user %>
        <%#= image_tag match.user_1.avatar, class:"avatar" %>
        <div class="match-message-notification p-2">
          <div class="image">
            <%#= image_tag match.user_1.avatar, class: "avatar-bordered-match mx-2", width: 50 %>
            <% if mess.where(newnotification: true).count > 0 %>
            <div class="notif">
              <span class="notif-number">
                <%= link_to mess.where(newnotification: true).count, match_messages_path(match)  %>
              </span>
            </div>
          <% end %>
          </div>
          <div class="name">
            <%= link_to match.user_1.user_name.capitalize, match_messages_path(match) %>
          </div>
        </div>
      <% else %>
        <%#= image_tag match.user_2.avatar, class:"avatar" %>
        <div class="match-message-notification p-2">
          <%#= image_tag match.user_2.avatar, class: "avatar-bordered-match mx-2", width: 50 %>
          <%= link_to match.user_2.user_name.capitalize, match_messages_path(match) %>
          <% if mess.where(newnotification: true).count > 0 %>
            <div class="notif">
              <span class="notif-number">
              </span>
            </div>
            <%= link_to mess.where(newnotification: true).count, match_messages_path(match)  %>
          <% end %>
        </div>
        <!-- il faudra voir l'avatar des autres -->
        <!-- les notifications sur l'avatar -->

    <% end %>
    </li>
  <% end %>
</div>
</ul>


