<div class="my-chat">
  <h3>Your conversation with <%= @user.email.capitalize %> :</h3>
      <% if @messages != [] %>
      <ul id="my-chat-list">
        <% @messages.each do |message| %>
          <%= render "messages/message_content", message: message, user: current_user %>
        <% end %>
      </ul>
      <% else %>
          <p>Débutez votre conversation avec <%= @user.email.capitalize %></p>
      <% end %>

      <div class="formulaire">
        <%= render "messages/form", match: @match, message: @message %>
      </div>
</div>

<!-- afficher si ca a ete lu ou non -->
