<div class="container my-3 px-lg-5">
  <div class="d-flex flex-column message-index">
    <div class="match-list">
      <%= render "match_list_message" %>
    </div>
    <div class="messages">
      <%= render "message_index" %>
    </div>
  </div>
</div>
<div id="connect-action-cable" data-match-id="<%= @match.id %>" data-current-user-id="<%= current_user.id %>"></div>

