<div class="container">
  <div class="d-flex message-index">
    <div class="match-list">
      <%= render "match_list_message" %>
    </div>
    <div class="messages border-left">
      <%= render "message_index" %>
    </div>
  </div>
</div>
<div id="connect-action-cable" data-match-id="<%= @match.id %>" data-current-user-id="<%= current_user.id %>"></div>


<!-- mettre de jolis avatars pour la conv -->
<!-- bloquer la taille de l'historique de discussion , pour que ca scrolle -->
