<div class="modal fade" id="match-modal-<%= match.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="match-affiche">
      <div class="header">
        <h5 class="title-modal" id="exampleModalLongTitle"> Nouvelle affinité !</h5>
      </div>
      <div class="match_body">
        <%= image_tag "spangle.gif", :class => "gif" %>
      </div>
      <div class="match-btns">
        <%= link_to "Envoyer un message", match_messages_path(match), class: "btn-match-message" %>
        <%= link_to "Continuer à chercher", random_path, class: "btn-match-search" %>
      </div>
    </div>
</div>
