<div class="my-matches">
<!-- icone et lien pour Find a Fetisher -->
  <% @matches.each do |match| %>
  <ul>
    <% if match.user_1 != current_user %>
      <li>
        <%= image_tag match.user_1.avatar, class:"avatar" %>
        <h3 class="match-message-notification">
          <%= link_to match.user_1.email.capitalize, match_messages_path(match) %>
        </h3>
      <% else %>
        <%= image_tag match.user_2.avatar, class:"avatar" %>
        <h3 class="match-message-notification">
          <%= link_to match.user_2.email.capitalize, match_messages_path(match) %>
        </h3>
        <!-- il faudra voir l'avatar des autres -->
        <!-- les notifications sur l'avatar -->
      </li>
    <% end %>
  </ul>
  <% end %>
</div>

<!-- vous en faites pas, ce CSS est IMMONDE,
on va le changer bien-sur, cest plus pour rendre les trucs visibles
pour les tests -->
