#body-content {
  min-height: calc(100vh - 140px);
}

.user_description {
  height: 100px;
  margin-bottom: 0px;
}

.user_random h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.precision-fetish {
  display: flex;
}

.fetish_card {
  justify-content: center;
  position: absolute;
  margin-top: 60px;
  margin-left: 6px;
}

.fetish_card small {
  justify-content: center;
  position: relative;
  font-size: 10px;
}

.question {
  margin-top: 8px;
  color: blue;
  margin-bottom: 0px;
}

.user-description {
  font-size: 20px;
}



