#body-content {
  min-height: calc(100vh - 120px);
}

.user_description {
  height: 100px;
  margin-bottom: 0px;
}

.user_random h2 {
  font-size: 32px;
}

.user-random {
  position: relative;
}

.precision-fetish {
  display: flex;
}

.fetish_card {
    justify-content: center;
    position: absolute;
    /* margin-top: 60px; */
    /* margin-left: 6px; */
    bottom: 110px;
    left: 135px;
    border-radius: 237px;
    z-index: 28;
    border: solid 1px #fa8072;
    background-color: white;
    width: 7.5pc;
    height: 7.5pc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fetish_card small {
  justify-content: center;
  position: relative;
  font-size: 20px;
  color: black;
  font-family: 'Signika', sans-serif;
}

.question {
  margin-top: 8px;
  color: blue;
  margin-bottom: 0px;
}

