// MOBILE

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


// CATEGORY
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// HOME
.cards {
  display: grid;
  grid-gap: 16px;
}

.lonely h6 {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  line-height: 120%;
}

// TRIP
.card-trip {
    z-index: 10;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
    /* border: solid 1px; */
    position: relative;
    border-radius: 50px;
    height: 520px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    max-width: 340px;
}


.card-trip img {
  // height: 300px;
  z-index: 10;
  text-align: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.card-trip p {
    font-size: 22px;
    /* opacity: .7; */
    /* margin: 18px; */
    padding: 70px 130px 0 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 20;
    background-color: #4ecdc4;
    position: absolute;
    top: -7px;
    left: -105px;
    width: 600px;
    height: 600px;
    color: white;
    font-weight: 500;
    border-radius: 310px;
    font-family: 'Signika', sans-serif;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// PRODUCT
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-trip-infos {
  display: flex;
  justify-content: center;
  align-items: center;
}
