
.fetish-choices input {
   display: none;
}

.fetish-choices {
  display:flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 12px;
}

.fetish-choice {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  flex: 0 0 30%;
  border: 1px solid #dedede;
  padding: 20px;
  border-radius: 8px;
  min-width: 110px;
  max-width: 110px;
  max-height: 100px;
  font-size: 12px;
  margin: 5px;
  text-align: center;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.fetish-choice.active {
  border: 1px solid $fetish;
}

.trash {
  position: absolute;
  top: 10px;
  right: 10px;
}

.clickable {
  display: space-around;
  background: white;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  flex: 0 0 30%;
  border: 1px solid #dedede;
  padding-top: 20px;
  border-radius: 8px;
  min-width: 110px;
  min-height: 70px;
  max-width: 110px;
  max-height: 100px;
  font-size: 12px;
  margin: 5px;
  text-align: center;
}

.content-fetishes {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  height: auto;
  background: white;
  margin: 0 auto;
  text-align: center;
}

.content-fetishes-index {
  grid-gap: 16px;
  overflow: hidden;
  height: auto;
  background: white;
  margin: 0 auto;
}

// MOBILE

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .content-fetishes {

    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .content-fetishes {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content-fetishes {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content-fetishes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content-fetishes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
