.criteria img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

#parent {
   position: relative;
}
img.superpose {
   position: absolute;
   top: 25px;
   left: 30px;
}
#img_1 {
   z-index: 11;
}
#img_2 {
   z-index: 10;
}
