.match-message-notification {
  border-radius: 10px;
  background-color: pink;
}

.my-matches {
  margin-right: 800px;
}


// vous en faites pas, ce CSS est IMMONDE,
// on va le changer bien-sur, cest plus pour rendre les trucs visibles
// pour les tests
