.col-8 {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px;
}

.left-grey-user {
  background-color: grey;
  color: white;
  font-weight: bold;
  margin-right: 320px;
}

.right-orange-user {
  background-color: #ffc5a1;
  color: white;
  text-align: right;
  font-weight: bold;
  margin-left: 320px;
}

// .container  {
//   width: 95%;
// }

.message-index {
  height: calc(100vh - 176px);
  overflow: scroll;
  background: red;
  .match-list {
    width: 20%;
    background-color: blue;
  }
  .messages {
    width: 80%;
    background: red;
  }
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

li {
  list-style: none;
  border-radius: 15px;
}

p {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

.my-chat {
  padding: 30px;
}

.my-matches {
  padding: 30px;
  text-align: left;
}

.match-message-notification {
  display: flex;
}

.notif {
  background-color: pink;
  border-radius: 30px;
  font-size: 16px;
  padding: 0px;
  text-align: center;
  height: 20px;
  width: 20px;
}
