// .col-8 {
//   overflow: hidden;
//   background: white;
//   // box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   padding: 30px;
//   border-radius: 5px;
//   margin-top: 20px;
// }

//
.left-grey-user {
  background-color: grey;
  color: white;
  font-weight: bold;
  width: 75%;
}

.left-paragraph {
  text-align: left;
  padding: 12px;
}


.right-orange-user {
  background-color: $fetish;
  color: white;
  font-weight: bold;
  margin-left: 25%;
}

.right-paragraph {
  text-align: right;
  padding: 12px;
}

.message-index {
  height: calc(100vh - 176px);
  // overflow: scroll;
  .match-list {
    width: 100%;
  }
  .messages {
    width: 100%;
    overflow: scroll;
    flex: 1;
  }
}

.message-icones {
  border: solid 0px #F4F4F4;
  border-radius: 5px;
  font-size: 30px;
  letter-spacing: 6px;
}

.my-chat h5 {
  text-align: center;
}

.my-chat {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#my-chat-list{
  flex: 1;
}

.message-icones-right {
  text-align: right;
}

.message-picture {
  border: solid 1px;
  border-radius: 1px;
  width: 240px;
}


ul {
  list-style: none;
  padding-inline-start: 0px;
}

li {
  list-style: none;
  border-radius: 15px;
}

p {
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.my-matches {
  text-align: left;
  margin-right: 20px;
}

.match-message-notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  position: relative;
}

.notif {
  background-color: $fetish;
  border-radius: 50%;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  height: 20px;
  width: 20px;
  margin: 5px;
  position: absolute;
  top: 6px;
  left: 48px;
}

.notif-number {
  position: absolute;
  top: -2px;
  right: 6px;
  a {
    color: white;
  }
}


