.title-modal {
  font-size: 40px;
  font-weight: bolder;
  color: white;
  text-align: center;
  margin-top: 110px;
  font-family: 'Rock Salt', cursive;
  letter-spacing: 8px;
  line-height: 150%;
}

.gif {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  overflow:hidden;
  object-fit: cover;
  margin-bottom: 90px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
}

.modal-dialog {
  object-fit: cover;
  max-width: 398px;
}

.fade {
  background-color: rgba(255, 255, 255, 1);
}

.modal_fade {
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-match-message {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  line-height: 110%;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: $fetish;
  font-family: sans-serif;
  padding: 15px 5px;
  border-radius: 50px;
  border: solid 2px $fetish;
}

.btn-match-message:hover {
  transition: 0.5s;
  background-color: $fetish;
  color: white;
  text-decoration: none
}

.btn-match-search {
  background-color: $fetish;
  text-align: center;
  line-height: 110%;
  width: 150px;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 10px;
  font-family: sans-serif;
  padding: 17px 5px 13px 5px;
  border-radius: 50px;
  border: none;
}

.btn-match-search a {
  color: rgba(0, 0, 0, 0.7);
}

.btn-match-search:hover {
  transition: 0.5s;
  background-color: white;
  color: $fetish;
  text-decoration: none
}

.match-btns {
  display: flex;
  justify-content: space-around;
}

.match-affiche {
  pointer-events: auto;
}

.modal-picture-center {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
