.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}


// .the-bell {
//   position: relative;
// }

// #bell {
//   position: absolute;
//   top: 17px;
//   right: 76px;
//   // top: 156px;
//   // right: 273px;
//   animation-duration: 1s;
//   // animation-delay: 2s;
//   animation-iteration-count: 3;
// }
