div#swipe {
  display: flex;
  align-items: center;
}


#not-to-be-seen-left {
  width: 150vw ;
  height: 100% ;
  background: red;
  position: absolute;
  top: 8% ;
  left: 0px ;
  transform: translateX(-100vw);
  z-index: -1;
}

#not-to-be-seen-right {
  width: 150vw;
  height: 100%;
  background: green;
  position: absolute;
  top: 8%;
  right: 0px;
  transform: translateX(100vw);
  z-index: -1;
}


.contains-swipe-card {
  width: 100%;
}
