.horizontal-scroll {
  overflow-x: scroll;
  display: flex;
  margin-bottom: 15px;
  -webkit-overflow-scrolling: touch;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll > *{
  flex: 1 0 auto;
}
